<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirect /api to the api folder (if not already there)
  # This handled by the folder structure, but good for safety
  
  # SPA Routing
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/api/
  RewriteRule . /index.html [L]
</IfModule>
